                                /* GENERAL */

    * {
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    } 

    body {
        font-family: 'Raleway', sans-serif;
        max-width: 1920px;
        margin: auto;
    }

    a {
        color: black;
    }

    .backrow {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2px;
    }

    .bold {
        font-weight: bold;
    }

    .price {
        margin-left: 5px;
    }

    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 140%;
        width: 100%;
    }

    h3 {
        width:100%;
    }

    .bloc_space {
        margin-bottom: 25px;
    }

    .text_space {
        padding-bottom: 8px;
    }


/* HEADER */
    



    .entete {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .booki_logo {
        display: flex;
        align-items: center;
    }

    .end_entete {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hebergements {
        padding: 30px 15px;
        border-top: solid white 3px;    
    }

    .activites {
        padding: 30px 15px;
        border-top: solid white 3px;    
    }

    .hebergements:hover {
        border-top: 3px;
        border-top-color: #0065FC;
        border-top-style:solid;        
    }

    .hebergements:hover a {
        color: #0065FC;
    }
    

    .activites:hover {
        color: #0065FC;
        border-top: 3px;
        border-top-color: #0065FC;
        border-top-style:solid;
    }
    .activites:hover a {
        color: #0065FC;
    }

/* Search-bar*/
    .sb_text_dim {
        font-size: 130%;
        display: flex;
        max-width: 30%;
    }

    .location_icon i {
        border: 1px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 12px;
        padding-right:15px;
        padding-left: 15px;
        background-color: #F2F2F2;
    }


    .search_button {
        border: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        padding: 0 20px;
    }
    .search_textzone {
        border-top: #F2F2F2 solid 1px;
        border-bottom: #F2F2F2 solid 1px;
        border-left: transparent;
        border-right: transparent;
        font-weight: bold;
        font-size: 0.8em;
        padding-left: 15px;
    }
    .search_mobile {
        display: none;
    }

/*filtres*/

    .filters {
        border: 2px solid #F2F2F2;
        border-radius: 50px;
        margin: 5px;
        padding: 15px 10px 15px 0;
        font-weight: bold;
    }

    .filters:hover {
        background-color:#0065FC;
        color: #DEEBFF;
        border: 2px solid #0065FC;
        border-radius: 25px;
    }

    .filters i {
        color: #0065FC;
        background-color: #DEEBFF;
        border: #DEEBFF solid 1px;
        border-radius: 50%;
        padding: 15px;
        position: relative;
        right: 3px;
        
    }

    .filter_box input {
        opacity: 0;
    }


/*All Sections*/

    .information {
        color: #0065FC;
        padding: 2px 8px;
        border: 2px #F2F2F2 solid;
        border-radius: 20px;
        margin: 5px;
    }

    .positif {
        background-color: #ffffff;
        color: #0065FC;
    }

    .negatif {
        color:#F2F2F2;
        background-color:#ffffff
    }


    .majeur {
        display: flex;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border: #F2F2F2;
        border-radius: 20px;
        max-width: 100%;
        box-sizing: border-box;
        padding: 2%;
    }

    .heb_pop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .heb_disposition {
        width: 63%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .link {
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(23,23,23, 0.3);
        overflow: hidden;
    }

/* Section Hébergements*/


.heb_card {
    width: 31%;
    border: 4px solid white;
    background-color: white;
    display: block;
    margin: 10px 0;
}

.frame {
    display: block;
    width: 100%;
    height: 100px;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.heb_legend {
    display: flex;
    flex-direction: column;
    padding: 5px ;
}


/*Section les populaires*/

.pop_card {
    width: 100%;
    border: 4px solid white;
    background-color: white;
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
}

.pop_title {
    display: flex;
    justify-content: space-between;
}

.pop_legend {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;

}

.pop_description {
    display: flex;
    flex-direction: column;
}

.frametwo {
    width: 40%;
    height: 120px;    
    display: block;
}

.frametwo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pop_disposition {
    width: 32%;
}



/*Section Activités*/

.act_card {
    width: 100%;
    display: block;
}
.act_card_two {
    width: 100%;
    margin-bottom: 40px;
    display: block;
}
.card_fort {
    width: 100%;
    margin-bottom: 40px;
    display: block;
}
.card_frioul {
    width: 100%;
    margin-bottom: 40px;

    display: block;
}
.frame_act {
    width: 100%;
    height: 440px;
    display: block;
}
.frame_act_two {
    width: 100%;
    height: 179px;
    display: block;
}
.frame_fort {
    width: 100%;
    height: 200px;
    display: block;
}
.frame_frioul {
    width: 100%;
    height: 153px;
    display: block;
}

.frame_act img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame_act_two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame_fort img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.frame_frioul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.act_text {
    display: flex;
    flex-direction: column;
    padding: 13px;
}
.act_text_two {
    display: flex;
    flex-direction: column;
    padding: 13px;
}
.fort_text {
    display: flex;
    flex-direction: column;
    padding: 13px;
}
.frioul_text {
    display: flex;
    flex-direction: column;
    padding: 13px;
}


.column {
    width: 22%;
}

.act_disposition {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */

footer ul{
    margin-right: 15%;
}

footer a {
    margin: 0 1px;
}

footer a:hover {
    color:#0065FC;
}



@media screen and (max-width: 992px) and (min-width: 768px)
{
    
    /*filtres*/
    .filter_box {
        display: flex;
        flex-wrap: wrap;
    }
    .filters {
        padding: 0;
        width: 40%;
    }

    /*sections*/
    .heb_pop {
        display: flex;
        flex-direction:column-reverse;
    }
    #pop_disposition {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .heb_disposition {
        width: 100%;
    }
    .heb_card {
        width: 47%;
    }
    .pop_card {
        width: 31%;
    }
    /*activités*/
    .column {
        width: 42%;
    }
    /* Footer */

    footer ul {
        width: 100%;
        margin-right: 0;
    }
    footer h3 {
        display: flex;
        justify-content: center;
    }
    
}


@media screen and (max-width: 768px)
{
    header {
        margin-bottom: 30px;
    }
    .booki_logo {
        display: flex;
        justify-content: center;
    }
    .entete {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: space-between;
        
    }
    .hebergements {
        width: 50%;
        border-bottom: solid #f2f2f2 3px;
        border-top: none;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    .activites {
        width: 50%;
        border-bottom: solid #f2f2f2 3px;    
        border-top: none;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;

    }

    .hebergements:hover {
        color: #0065FC;
        border-bottom: 3px;
        border-bottom-color: #0065FC;
        border-bottom-style:solid; 
        border-top: none;
    }

    .activites:hover {
        color: #0065FC;
        border-bottom: 3px;
        border-bottom-color: #0065FC;
        border-bottom-style:solid;
        border-top: none;   

    }


    .search_button {
        display: none;
    }
    .search_mobile {
        display: flex;
        border: transparent;
        border-radius: 15px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        font-size: 1em;
        align-items: center;
        padding: 0 12px;
    }

    /*filtres*/
    .filter_box {
        display: flex;
        flex-direction: column;
    }
    .filters {
        padding: 0;
    }

    /*sections*/
    .heb_pop {
        display: flex;
        flex-direction:column-reverse;
    }
    #pop_disposition {
        width: 100%;
        margin-bottom: 20px;
    }
    .heb_disposition {
        width: 100%;
        background-color: white;
    }
    .heb_card {
        width: 100%;
    }

    /*activities*/
    .act_disposition {
        display: flex;
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .act_card {
        width: 100%;
        margin-bottom: 25px;
    }
    .frame_act {
        height: 190px;
    }
    .frame_fort {
        height: 190px;
    }
    .frame_frioul {
        height: 190px;
    }
    .frame_act_two {
        height: 190px;
    }
    .frame_act img {
        height: 100%;
    }
    
    .frame_act_two img {
        height: 100%;
    }
    
    .frame_fort img {
        height: 100%;
    }
    .frame_frioul img {
        height: 100%;
    }
    .act_text {
        padding: 13px;
    }
    .act_text_two {
        padding: 13px;    }
    .fort_text {
        padding: 13px;
    }
    .frioul_text {
        padding: 13px;
    }
/*footer*/ 
    footer .majeur {
        display: flex;
        flex-direction: column;
    }
    footer h3 {
        display: flex;
        justify-content: center;
    }
    footer ul {
        margin-right: 0;
    }
}

